<h2>Item Orders Edit Page NOT REALLY USING THIS PAGE</h2>

<form action="/item_orders/<%=@item_order.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="food_item" value="<%=@item_order.food_item.name%>">
  <input type="text" name="item_order[party][is_paid]" value="<%@item_order.party.table_number%>">
  <input type="submit" value="Update ITEM ORDER">

</form>
<form action="/item_orders/<%=@item_order.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">

</form>
