
<div class="container">
  <div class="row">
    <div class="twelve columns">
      <br><center><h3>CHEF'S PAGE</h3></center>
    </div>
  </div>

</div>



  <% @item_orders.each do |item_order| %>

<h5>


    <!-- columns should be the immediate child of a .row -->



<div id="chefsdiv" class="container">

    <div class="row">
      <div class="twelve columns">

  <%=item_order.food_item.name%>|

  table number:<%= item_order.party.table_number%>
  </h5>

  </div>
</div>

</div>


  <% end %>
