
  <br><center><h3>ENTER A NEW ORDER</h3></center>
<div id="cooldiv" class="container">

  <br><center><form class="twelve columns" action="/item_orders" method="post">
    food:<select name="item_order[food_item_id]">
      <% @food_items.each do |food_item| %>
      <option value="<%= food_item.id %>">
        <%= food_item.name %>
      </option>
      <% end %>

    </select><br>




table number:<select name="item_order[party_id]">
      <% @parties.each do |party| %>
      <option value="<%= party.id %>">
        <%= party.table_number %>
      </option>
      <% end %>
    </select><br>


    <input type="submit">

  </form>

</div>
