<h3>New Apartment</h3>

<form action="/apartments" method="post">
  <input type="text" name="apartment[room_number]" placeholder="... room number">
  <input type="text" name="apartments[sqft]" placeholder="... sqft">

  <select name="apartment[building_id]">
    <% @buildings.each do |building| %>
    <option value="<%= building.id %>">
      <%= building.address %>
    </option>
    <% end %>
  </select>

  <input type="submit">

</form>
