
<center><h3>New Food Items</h3></center>

<form action="/food_items" method="post">
  <input type="text" name="food_item[name]" placeholder="...food">
  <input type="text" name="food_item[price]" placeholder="...price">
  <input type="submit">

</form>
