<h2>DELETE PARTY: PROTIP: DON'T EVER DO THIS</h2>


<form action="/parties/<%=@party.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">

</form>
