
<br><center><h3>ALL TABLES</h3></center>

<div id="cooldiv" class="container">


<ul><br>

  <% @parties.each do |party|%>
  <li>
    <strong>TABLE:<%= party.table_number %></strong><br>

<a href="/parties/<%=party.id%>">View This Party's Receipt</a>


  </li><br>
  <% end %>





</ul>

</div>
