
<a href="/">home</a><br>
<a href="/parties/new">New parties</a><br>
<a href="/item_orders/new">New item_orders</a><br>

<ul>

  <% @parties.each do |party|%>
  <li>
    <%= party.table_number %>

<a href="/parties/<%=party.id%>">Show parties -- receipt</a>

  </li>
  <% end %>



</ul>
