
<a href="/">home</a><br>
<a href="/parties/new">New parties</a><br>
<a href="/item_orders/new">ENTER ANOTHER ITEM ORDER</a><br>

<ul><br>

  <% @parties.each do |party|%>
  <li>
    TABLE: <%= party.table_number %><br>

<a href="/parties/<%=party.id%>">View This Party's Receipt</a>


  </li><br>
  <% end %>





</ul>
