

<h3>CREATE TABLES</h3>
<p>
[Note: You will only have to create tables one time for your restaurant, all orders will refer to the tables you create here.]
</p>



<form action="/parties" method="post">
  <input type="text" name="party[table_number]" placeholder="... table number">



  <input type="submit">

</form>
<h3><a href="/food_items/new"> ADD NEW FOOD ITEMS</a></h3>
<h3><a href="/food_items"> EDIT FOOD ITEMS</a></h3>
