<h3>New PArty</h3>

<a href="/item_orders/new">New item_orders</a><br>

<form action="/parties" method="post">
  <input type="text" name="party[table_number]" placeholder="... table number">



  <input type="submit">

</form>
