

<h3>CREATE TABLES</h3>
<p>
[Note: This is where you create new tables,
Be careful to assign it the appropriate table number,
you will only have to create tables one time for your restaurant, all orders will refer to the tables you create here.]
</p>



<form action="/parties" method="post">
  <input type="text" name="party[table_number]" placeholder="... table number">



  <input type="submit">

</form>

<a href="/food_items"> EDIT FOOD ITEMS</a><br>
