<h1>All of An individual party's food items</h1>
<h3>receipt</h3>




<a href="/item_orders/new">New item_orders</a><br>
<a href="/item_orders">item orders</a><br>
<a href="/">home</a><br>

<div id="cooldiv" class="row">


<ul>
  table number:<%= @party.table_number %>
  <%= @party.is_paid %>
  <% @party.item_orders.each do |item_order| %>

  <li>


    <%=item_order.food_item.name%>
    <%=item_order.food_item.price%>

  </li>

  <% end %>


</ul>
