<h1>All of An individual party's food items</h1>
<h3>receipt</h3>




<a href="/item_orders/new">New item_orders</a><br>
<a href="/item_orders">item orders</a><br>
<a href="/">home</a><br>

<div id="cooldiv" class="row">


<ul>

  <li>

    table number:<%= @party.table_number %>
    <%= @party.is_paid %>





  </li>

</ul>
