<h3>Buildings THE PAGE</h3>

<a href="/buildings/new">New</a>
<a href="/buildings">Back to Buildings</a>
<a href="/apartments">Apartments</a>
<a href="/apartments/new">New Apartments</a>

<ul>

  <% @buildings.each do |building| %>
  <li>
  <%= building.address %>
  </li>
  <% end %>
</ul>
